* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: rgb(0, 0, 0);
  background-size: cover;
}

time {
  font-size: 8rem;
  text-shadow: 0px 0px 5px rgb(255, 244, 96); 
}

div {
  position: relative;
  bottom: 10px;
  padding: 5px;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  /* background-color: black; */
  box-shadow: 0px 0px 5px rgb(0, 0, 0); 
  text-shadow: 0px 0px 5px rgb(255, 244, 96); 
  cursor: pointer;
  font-size: 0.8rem;
}

h1 {
  margin-bottom: 3rem;
  text-shadow: 0px 0px 2px rgb(255, 244, 96); 
}

h2 {
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 2px rgb(255, 244, 96); 
  opacity: 0.8;
}

@media (max-width: 700px) {
  time {
    font-size: 6rem;
  }
}
