.logo h1:hover {
  transition: all 0.3s ease-out;
}

.portfolio__wrapper, .portfolio, .services__items li, .services__items, .services__wrapper, .services {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: Lato, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: normal;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
}

.logo h1:hover {
  color: #f0f186;
  font-size: 2.55rem;
}

.ico {
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s ease;
}
.ico:hover {
  box-shadow: 0 0 5px #f0f186;
}

.ico_facebook {
  background-image: url("../img/ico-facebook.png");
  width: 32px;
  height: 32px;
}

.ico_google-plus {
  background-image: url("../img/ico-google-plus.png");
  width: 32px;
  height: 32px;
}

.ico_twitter {
  background-image: url("../img/ico-twitter.png");
  width: 32px;
  height: 32px;
}

.ico_linkedin {
  background-image: url("../img/ico-linkedin.png");
  width: 32px;
  height: 32px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 10px;
}

.tag {
  border-radius: 5px;
  padding: 5px 6px 6px 6px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #767E9E;
  color: #767E9E;
  cursor: pointer;
}
.tag_selected {
  border: 1px solid #DEDEDE;
  color: #DEDEDE;
}
.tag:hover {
  box-shadow: 0 0 5px #f0f186;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #ffffff;
}

.hamburger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    margin: 0 0 0 20px;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc( 50% - 1px );
  left: 0;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

.header {
  position: sticky;
  top: 0;
  height: 89px;
  background: #2D303A;
  border-bottom: 6px solid #323746;
  color: #FFFFFF;
  z-index: 11;
}

.header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .logo {
    margin-left: -45px;
  }
}
.logo h1 {
  display: inline;
  cursor: pointer;
}
.logo span {
  position: relative;
  right: 2px;
  font-size: 2.5rem;
  color: #F06C64;
  cursor: pointer;
}

.slider__item-1 {
  width: 100%;
  height: 100%;
}

.slider {
  background: #F06C64;
  border-bottom: 6px solid #EA676B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.slider::before {
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

.slide-1 {
  padding: 55px 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone_vertical {
  margin-right: 10%;
}
.phone_vertical img {
  max-width: 100%;
  height: auto;
}

.phone_horizontal img {
  max-width: 100%;
  height: auto;
}

.slide-2 {
  display: none;
}

.slider__controls {
  display: inline-block;
}
.slider__controls a {
  margin: 0 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.slider__controls a:hover {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f0ed68;
}

.early {
  background: url("../img/arrow-left.svg") center no-repeat;
}
.early:hover {
  background-position: 40% 50%;
}

.next {
  background: url("../img/arrow-right.svg") center no-repeat;
}
.next:hover {
  background-position: 60% 50%;
}

.services {
  margin: 0;
  background: #F2F2F2;
  border-bottom: 6px solid white;
}

.services__wrapper {
  flex-direction: column;
}
.services__wrapper::before {
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

.services__header {
  padding: 20px 40px;
}
@media (max-width: 1019px) {
  .services__header {
    padding: 0px 40px 10px;
  }
}
@media (max-width: 767px) {
  .services__header {
    padding: 0 30px;
  }
}
.services__header h2 {
  margin: 40px 0 18px 0;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: normal;
  color: #666D89;
}
.services__header p {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  font-style: normal;
  color: #767E9E;
}

.services__items {
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px 50px 40px;
}
@media (max-width: 1019px) {
  .services__items {
    padding: 10px 40px 30px 40px;
  }
}
@media (max-width: 767px) {
  .services__items {
    padding: 15px 0 0 0;
  }
}
.services__items li {
  flex-basis: 32%;
}
@media (max-width: 1019px) {
  .services__items li {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .services__items li {
    flex-basis: 100%;
    padding: 0;
  }
}
.services__items img {
  align-self: flex-start;
  padding-right: 20px;
}

.services__content {
  align-self: flex-start;
}
.services__content h3 {
  margin: 0 0 7px 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
  color: #666D89;
}
.services__content p {
  width: 220px;
  height: 77px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  color: #767E9E;
  overflow: hidden;
}
@media (max-width: 767px) {
  .services__content p {
    margin: 15px 0 20px;
  }
}

.portfolio {
  background: #2D303A;
  border-bottom: 6px solid #323746;
}

.portfolio__wrapper {
  flex-direction: column;
}
.portfolio__wrapper::before {
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

.portfolio__header {
  justify-self: start;
  padding: 20px 40px 0 40px;
}
@media (max-width: 767px) {
  .portfolio__header {
    padding: 0px 30px;
  }
}
.portfolio__header h2 {
  margin: 40px 0 18px 0;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: normal;
  color: #666D89;
}
.portfolio__header p {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  font-style: normal;
  color: #767E9E;
}

.portfolio__tags {
  padding: 0 40px 8px;
}
@media (max-width: 767px) {
  .portfolio__tags {
    padding: 0 30px 8px;
  }
}

.portfolio__images ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  list-style: none;
  padding: 0 40px 60px 40px;
}
@media (max-width: 1019px) {
  .portfolio__images ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .portfolio__images ul {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px 30px 30px;
  }
}

.portfolio__images img {
  width: 100%;
  height: auto;
}

.footer {
  height: 76px;
  background-color: #2D303A;
}

.footer__wrapper {
  height: 100%;
}
.footer__wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100%;
}
@media (max-width: 767px) {
  .footer__wrapper div {
    justify-content: center;
    padding: 0;
  }
}
.footer__wrapper div p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 900;
  font-style: normal;
  color: #767E9E;
}
@media (max-width: 767px) {
  .footer__wrapper div p {
    display: none;
  }
}
.footer__wrapper div ul {
  display: flex;
  list-style: none;
}
@media (max-width: 767px) {
  .footer__wrapper div ul {
    padding: 0;
    margin: 0;
  }
}
.footer__wrapper div ul li {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .footer__wrapper div ul li {
    margin: 5px;
  }
}

.navigation {
  display: flex;
  height: 26px;
  align-items: flex-end;
  list-style: none;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}
.navigation li a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.44rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.navigation li a:hover {
  color: #e2a8a4;
}
.navigation li:nth-last-child(n+2)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 0 15px 4px 15px;
}

ul li .active {
  color: #F06C64;
}

/*# sourceMappingURL=style.css.map */
