html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: background 1s;
}

.menu {
  position: relative;
  right: -170px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: rgb(87, 85, 82);
  opacity: 0.4;
  transition: 0.3s;
  z-index: 5;
}

.menu:hover {
  right: 0px;
  opacity: 1;
}

#color {
  width: 120px;
  height: 33px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 0 2px 3px #fff;
  transition: transform 0.3s;
}

#color::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color::-webkit-color-swatch {
  border: none;
}

#color:hover {
  transform: scale(1.03);
}

#clear {
  width: 120px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
  color: #fff;
  background-color: #008cba;
}

#clear:hover {
  transform: scale(1.03);
}

.draw-panel {
  margin: 2vh 60px 2vh 1vw;
  height: 96vh;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(173, 47, 47, 1);
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
}

.draw-panel::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  opacity: 0.5;
  z-index: -1;
}

.size {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.show-size {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
}

#size {
  align-self: flex-end;
  cursor: pointer;
}

.menu-marker {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
}

.menu-marker__container {
  position: relative;
}

.menu-marker__container span,
.menu-marker__container span::before,
.menu-marker__container span::after {
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: rgb(255, 0, 0);
}

.menu-marker__container span::before {
  content: "";
  left: 5px;
  background-color: rgb(0, 255, 0);
}

.menu-marker__container span::after {
  content: "";
  left: 10px;
  background-color: rgb(0, 0, 255);
}

@media (max-width: 1024px) {
  .menu {
    right: 0;
    top: -170px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .size {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: 140px;
  }

  .menu-marker {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    bottom: 10px;
    transform: rotate(-90deg);
  }

  .menu:hover {
    top: 0;
  }

  .draw-panel {
    margin: 60px 1vw 2vh 1vw;
    height: 92vh;
  }
}

@media (max-width: 768px) {
  #color {
    width: 60px;
    height: 30px;
  }

  #clear {
    width: 60px;
    height: 38px;
  }
}
