:root {
  --base: #4f4e4a;
  --spacing: 50px;
  --blur: 0px;
  --shadow-size: 20px;
  --shadow: #2b2b2b;
  --background: #000000;
}

.image {
  margin: 40px auto;
}

img {
  border-radius: 10px;
  display: block;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--shadow);
}
  
body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  background: var(--background);
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.logo {
  position: relative;
  padding: 20px;
  margin: 0;
  max-width: 30%;
  background: var(--base);
  border-radius: 10px;
  box-shadow: 10px 10px 0px 0px var(--shadow);
}

.logo span {
  position: absolute;
  right: -30px;
  bottom: -15%;
  color: #e7ba25;
  font-size: 80px;
  cursor: pointer;
}

.logo span:hover {
  font-size: 85px;
}

.logo span:active {
  font-size: 80px;
}

.controls {
  padding: 20px;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0px;
  background: var(--base);
  border-radius: 10px;
  box-shadow: 10px 10px 0px 0px var(--shadow);
}

.controls div {
  justify-self: ;;
  padding: 10px;
  margin: 5px;
  background: var(--shadow);
  border-radius: 10px;
}

input {
  width: 100px;
}
