$color-primery: #F06C64;
$color-base: #2D303A;
$color-base-white: #F2F2F2;
$color-border-base: #323746;
$color-border-primery: #EA676B;
$color-background-slide: #648BF0;
$color-heading: #666D89;
$color-text: #767E9E;
$color-tag: #DEDEDE;
$color-nav: #f0f186;

$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;
