@mixin font ($size, $height, $weight, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-laptop {
  @media (max-width: $content-width - 1px) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width - 1px) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-width - 1px) { @content; }
}
