@keyframes hidden {
  0% {
    left: 0;
    z-index: 1;
  }
  100% {
    left: -100%;
    z-index: 1;
  }
}

@keyframes hidden_right {
  0% {
    right: 0;
    z-index: 1;
  }
  100% {
    right: -100%;
    z-index: 1;
  }
}

@keyframes show {
  0% {
    left: 100%;
    z-index: 1;
  }
  100% {
    left: 0;
    z-index: 1;
  }
}

@keyframes show_right {
  0% {
    right: 100%;
    z-index: 1;
  }
  100% {
    right: 0;
    z-index: 1;
  }
}
