.ico {
  display: inline-block;
  border-radius: 50%;
  transition: .3s ease;
  &:hover {
    box-shadow: 0 0 5px $color-nav;
  }
}

.ico_facebook {
  background-image: url("../img/ico-facebook.png");
  width: 32px;
  height: 32px;
}

.ico_google-plus {
  background-image: url("../img/ico-google-plus.png");
  width: 32px;
  height: 32px;
}

.ico_twitter {
  background-image: url("../img/ico-twitter.png");
  width: 32px;
  height: 32px;
}

.ico_linkedin {
  background-image: url("../img/ico-linkedin.png");
  width: 32px;
  height: 32px;
}