.tags {
  display: flex;
  >* {
    margin-right: 10px;
  }
}

.tag {
  border-radius: 5px;
  padding: 3px 5px 4px 4px;
  @include font(1.2rem, 1.2rem, 400);
  border: 1px solid $color-text;
  color: $color-text;
  cursor: pointer;
  &_selected {
    border: 1px solid $color-tag;
    color: $color-tag;
  }
  &:hover {
    box-shadow: 0 0 5px $color-nav;
  }
}
