.navigation {
  display: flex;
  height: 26px;
  align-items: flex-end;
  list-style: none;
  margin-right: 40px;
  @include media-tablet {
    display: none;
  }
  li {
    // margin: 0 0 0 10px;
    a {
      display: inline-block;
      color: #FFFFFF;
      @include font (1.2rem, 1.44rem, 700);
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s ease;
      &:hover {
        color: #e2a8a4;
      }
    }
  }
  li:nth-last-child(n+2)::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 15px 4px 15px;
  }
}

ul li .active {
  color: $color-primery;
}
