.header {
  position: sticky;
  top: 0;
  height: 89px;
  background: $color-base;
  border-bottom: 6px solid $color-border-base;
  color: #FFFFFF;
  z-index: 11;
}

.header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// .navigation li a .anchor {
//   display: block;
//   position: absolute;
//   top: -95px;
//   visibility: hidden;
// }

.logo {
  margin-left: 40px;
  h1 {
    display: inline;
    cursor: pointer;
  }
  span {
    position: relative;
    right: 2px;
    font-size: 2.5rem;
    color: $color-primery;
    cursor: pointer;
  }
}
